@model YandalStore.Models.Manager
@{
    ViewBag.Title = "EditManager";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profil Güncelle</h1>
</div>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="mt-1 mb-1">
                @Html.DisplayNameFor(Model => Model.Name)
                @Html.EditorFor(Model => Model.Name, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="mt-1 mb-1">
                @Html.DisplayNameFor(Model => Model.Surname)
                @Html.EditorFor(Model => Model.Surname, new { htmlattributes = new { @class = "form-control" } })
            </div>
            <div class="mt-1 mb-1">
                @Html.DisplayNameFor(Model => Model.Mail)
                @Html.EditorFor(Model => Model.Mail, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Mail, "", new { @class = "text-danger" })
            </div>
            <div class="mt-1 mb-1">
                @Html.DisplayNameFor(Model => Model.Password)
                @Html.EditorFor(Model => Model.Password, new { htmlattributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="mt-1 mb-1">
                <input type="submit" class="btn btn-primary" value="Profilimi Güncelle" />
            </div>
        }
    </div>
</div>

