@model IEnumerable<YandalStore.Models.Product>
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/css/slick-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/templatemo.js"></script>
    <script src="~/Content/js/templatemo.min.js"></script>
    <a href="~/Content/webfonts/fa-brands-400.eot"></a>
    <a href="~/Content/webfonts/fa-brands-400.ttf"></a>
    <a href="~/Content/webfonts/fa-brands-400.woff"></a>
    <a href="~/Content/webfonts/fa-brands-400.woff2"></a>
    <a href="~/Content/webfonts/fa-regular-400.eot"></a>
    <a href="~/Content/webfonts/fa-regular-400.ttf"></a>
    <a href="~/Content/webfonts/fa-regular-400.woff"</a>
    <a href="~/Content/webfonts/fa-regular-400.woff2"></a>
    <a href="~/Content/webfonts/fa-solid-900.eot"></a>
    <a href="~/Content/webfonts/fa-solid-900.ttf"></a>
    <a href="~/Content/webfonts/fa-solid-900.woff"></a>
    <a href="~/Content/webfonts/fa-solid-900.woff2"></a>
    <a href="~/Content/webfonts/slick.eot"></a>
    <a href="~/Content/webfonts/slick.ttf"></a>
    <a href="~/Content/webfonts/slick.woff"></a>
</head>
<body>
   
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/Content/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>YandalStore</b></h1>
                                <h3 class="h2">Aradığın Her Şey Burada !</h3>
                                <p>
                                    Arabanız sizin her şeyinizse doğru adrestesiniz. Arabanız için en güvenilir en ucuz parçalar burada!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/Content/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-info">Araba Aksesuar</h1>
                                <h3 class="h2">Aksesuara Dair her Şey Burada</h3>
                                <p>
                                   Aksesuar Lazımsa <strong>YandalStore</strong> Yanında!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/Content/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Araba Far</h1>
                                <h3 class="h2">Ucuz Farların Adresi </h3>
                                <p>
                                    Arabana Far Lazımsa <strong>YandalStore</strong> Yanında!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Bu Ay En Çok Aranan Kategoriler</h1>
                <p>
                    Bu ay en fazla aratılan kategoriler <strong>Sizlerle</strong> !
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@Url.Action("KategoriDetay","Category", new {id = 2})"><img src="~/Content/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Saat</h5>
                <p class="text-center"><a href="@Url.Action("KategoriDetay","Category", new {id = 2})" class="btn btn-success">İncele</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@Url.Action("KategoriDetay","Category", new {id = 3})"><img src="~/Content/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Ayakkabı</h2>
                <p class="text-center"><a href="@Url.Action("KategoriDetay","Category", new {id = 3})" class="btn btn-success">İncele</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="@Url.Action("KategoriDetay","Category", new {id = 9})"><img src="~/Content/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Gözlük</h2>
                <p class="text-center"><a href="@Url.Action("KategoriDetay","Category", new {id = 9})" class="btn btn-success">İncele</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">YandalStore</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Yan Mahallesi Dal Sokak
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">0222 222 22 22</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="#">Yandaltore@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Ürünler</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Klima Hortumu</a></li>
                        <li><a class="text-decoration-none" href="#">Spot Işık</a></li>
                        <li><a class="text-decoration-none" href="#">Egzoz</a></li>
                        <li><a class="text-decoration-none" href="#">Sinyal Işık</a></li>
                        <li><a class="text-decoration-none" href="#">Sis Farı</a></li>
                        <li><a class="text-decoration-none" href="#">Tanpon</a></li>
                        <li><a class="text-decoration-none" href="#">Panjur</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Kurumsal</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Hakkımızda</a></li>
                        <li><a class="text-decoration-none" href="#">Yönetim</a></li>
                        <li><a class="text-decoration-none" href="#">İş Ortaklarımız</a></li>
                        <li><a class="text-decoration-none" href="#">İletişim</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://github.com/abdullahcagis"><i class="fab fa-github fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/mustafaabdullahcagi%CC%87s"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>
</html>
