@model IEnumerable<YandalStore.Models.Product>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/css/slick-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick.min.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo.css" rel="stylesheet" />
    <link href="~/Content/css/templatemo.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/templatemo.js"></script>
    <script src="~/Content/js/templatemo.min.js"></script>
    <a href="~/Content/webfonts/fa-brands-400.eot"></a>
    <a href="~/Content/webfonts/fa-brands-400.ttf"></a>
    <a href="~/Content/webfonts/fa-brands-400.woff"></a>
    <a href="~/Content/webfonts/fa-brands-400.woff2"></a>
    <a href="~/Content/webfonts/fa-regular-400.eot"></a>
    <a href="~/Content/webfonts/fa-regular-400.ttf"></a>
    <a href="~/Content/webfonts/fa-regular-400.woff"</a>
    <a href="~/Content/webfonts/fa-regular-400.woff2"></a>
    <a href="~/Content/webfonts/fa-solid-900.eot"></a>
    <a href="~/Content/webfonts/fa-solid-900.ttf"></a>
    <a href="~/Content/webfonts/fa-solid-900.woff"></a>
    <a href="~/Content/webfonts/fa-solid-900.woff2"></a>
    <a href="~/Content/webfonts/slick.eot"></a>
    <a href="~/Content/webfonts/slick.ttf"></a>
    <a href="~/Content/webfonts/slick.woff"></a>
</head>
<body>

  
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">




            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="card shadow">
                                    <a href="@Url.Action("Detail","Product", new { id= item.ID})" class="link-secondary" style="text-decoration:none">
                                        <img src="~/Images/ProductImages/@item.CoverImage" class="card-img" />
                                        <div class="card-body">
                                            <div style="min-height:100px;">
                                                <b class="text-dark">@item.Name</b>
                                                @if (item.Description.Length >= 80)
                                                {
                                                    <p class="card-text">
                                                        @item.Description.Substring(0, 80);
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="card-text">
                                                        @item.Description;
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                    <div class="card-footer">
                                        <div class="d-grid">
                                            <a href="@Url.Action("Add","UserCart", new { id= item.ID})" class="btn btn-sm btn-success">Sepete Ekle</a>
                                            <a href="@Url.Action("Add","Favorite", new { id= item.ID})" class="btn btn-sm btn-primary">Favorilere Ekle</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->   
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">YandalStore</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Yan Mahallesi Dal Sokak
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">0222 222 22 22</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="#">Yandaltore@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Ürünler</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Klima Hortumu</a></li>
                        <li><a class="text-decoration-none" href="#">Spot Işık</a></li>
                        <li><a class="text-decoration-none" href="#">Egzoz</a></li>
                        <li><a class="text-decoration-none" href="#">Sinyal Işık</a></li>
                        <li><a class="text-decoration-none" href="#">Sis Farı</a></li>
                        <li><a class="text-decoration-none" href="#">Tanpon</a></li>
                        <li><a class="text-decoration-none" href="#">Panjur</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Kurumsal</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Hakkımızda</a></li>
                        <li><a class="text-decoration-none" href="#">Yönetim</a></li>
                        <li><a class="text-decoration-none" href="#">İş Ortaklarımız</a></li>
                        <li><a class="text-decoration-none" href="#">İletişim</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://github.com/abdullahcagis"><i class="fab fa-github fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/mustafaabdullahcagi%CC%87s"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </footer>
    <!-- End Footer -->
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>
</html>

